# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto



# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.cs     diff=csharp
*.csproj text=auto merge=union
*.cfg KSP configs


# Declare files that will always have CRLF line endings on checkout.
*.sln text=auto eol=crlf merge=union

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.dds binary
*.tga binary
*.psd binary
*.mu  binary
