# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bat

# Compressed
*.rar
*.zip
*.7z
*.tar

# Documents
*.markdown
*.doc
*.docx
*.xls
*.xlsx



# zer0Kerbal common files
LegalMumboJumbo/
Archive/
Old/
flaticons/
Links/
docs/*
old/*
NetKAN/*
images.txt
shields.md
buildRelease.bat
buildReleaseSub.bat
deploy.bat
deploySub.bat
_buildRelease.bat
_buildReleaseSub.bat
_deploy.bat
_deploySub.bat
mod.version
regex4loc.txt

# database files
*.mdb
*.lock
*.ide
*.pdb
*.cache

# visualStudio files
.vs/*
*.ide-wal
*.suo
build/*
*.user
_ReSharper.*/*
obj/
*.opensdf
*.tlog
*.log
TestResult.xml

